<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>ExportHTML</servlet-name>
        <servlet-class>ExportHTML</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExportHTML</servlet-name>
        <url-pattern>/ExportHTML</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExportPDF</servlet-name>
        <servlet-class>ExportPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportPDF</servlet-name>
        <url-pattern>/ExportPDF</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JRHTMLServlet</servlet-name>
        <servlet-class>JRHTMLServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JRHTMLServlet</servlet-name>
        <url-pattern>/JRHTMLServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JasperReportImageServlet</servlet-name>
        <servlet-class>
            net.sf.jasperreports.j2ee.servlets.ImageServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JasperReportImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
</web-app>